.container{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 80vh;
}
.container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 400px;
    margin:  auto;
    border: 1px solid #55EFC4;
    border-radius: 10px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
.container_inputs_label{
    width: 90%;
    margin: 0 auto;
    background-color:  transparent;
    border-bottom: 1px solid #55EFC4;
    position: relative;
    display: flex;
    height: 40px;
    margin: 15px 0;
}
.container_inputs_label input{
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    border: none;
    outline: none;
    padding: 10px;
    position: absolute;
    z-index: 1;
    color: #DFE6E9;
}
.container_inputs_label input:focus ~ label,
.container_inputs_label input:valid ~ label{
    top: -15px;
    font-size: 12px;
    color: #55EFC4;
}
.container_inputs_label input:focus::placeholder{
    transition: all .1s linear;
    color: transparent;
}
.container_inputs_label label{
    position: absolute;
    left: 10px;
    top: 7px;
    color: transparent;
    font-size: 13.5px;
    transition: all .3s linear;
}


.container form button{
    width: 30%;
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #55EFC4;
    background-color: transparent;
    color: #DFE6E9;
    cursor: pointer;
}
.container form button:hover{
    background-color: #55EFC4;
    color: #000000;
}
.activate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-family: monospace;
    color: #55EFC4;
    font-size: 16px;
}
@media (max-width: 521px){
    .activate{
        font-size: 13px;
    }
}

