.container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 40%;
    padding-right: 40%;
    scroll-snap-type: x mandatory;
}
@media(min-width: 992px){
    .container{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        overflow-x: visible;
        overflow-y: auto;
        width: 100%;
        padding: .7%;
        padding-left: 15%;
        padding-right: 15%;
        scroll-snap-type: none;
    }
}