.container_path_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #282C34;
  }
  .container_register{
    display: flex;
    justify-content: center;
    background-color: #282C34;
    height: 80vh;
  }