.container{
    animation: containerMount .4s linear;
}
@keyframes containerMount{
    0%   { opacity: 0; transform: scale(.5);}
    50%  { opacity: 0;}
    100% { opacity: 1; transform: scale(1);}
}
@keyframes containerUnmount{
    0%   { opacity: 1; transform: scale(1);}
    50%  { opacity: 0;}
    100% { opacity: 0; transform: scale(.5);}
}
.card{
    position: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.back{
    position: absolute;
    top: 30px;
    left: 30px;
    animation: info .8s linear;
}
.info{
    width: 90%;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    animation: info 1s linear;
    backdrop-filter: blur(4px);
}
@keyframes info{
    0%   { opacity: 0; position: absolute; left: 50%;}
    75%  { opacity: 0;}
    100% { opacity: 1; position: absolute; left: 0%;}
}
.name{
    margin: 10px;
}
.name{
    margin: 10px;
}
