.container_button_toggle button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: #DFE6E9;
}
.container_absolute_main{
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    backdrop-filter: blur(5px) brightness(70%);
    animation: containerMount .4s linear;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.container_main_table_button{
    position: relative;
    max-width: 1000px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #DFE6E9;
    overflow-y: auto;
    overflow-x: hidden;
}
.container_button_onUnMount_table{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 10px;
}
.container_button_onUnMount_table button{
    background-color: transparent;
    outline: none;  
    border: none;
    color: #000000;
    cursor: pointer;
}
.container_table{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

/*-------------------------------*/
.container_thead{
    color: #282C34;
    font-size: 15px;
    /* background-color: #ab47bc; */
    background-color: rgba(0, 0, 0, .2);
    font-weight: bold;
}
.container_tfoot{
    /* background-color: #ab47bc; */
    color: #282C34;
    font-size: 15px;
    background-color: rgba(0, 0, 0, .2);
    font-weight: bold;
}

.container_tbody tr:nth-child(odd){
    /* background-color: #7b1fa2; */
    color: #DFE6E9;
}
.container_tbody tr:nth-child(even){
    /* background-color: #ab47bc; */
    color: #DFE6E9;
}
.container_tbody tr td select{
    width: 60px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #DFE6E9;
    cursor: pointer;
}
.container_tbody tr td select option{
    color: #000000;
}
.container_tbody tr td{
    font-size: 25px;
}
/*-------------------------------*/

.containerThead{
    display: flex;
    color: black;
    justify-content: space-around;
    font-size: xx-large;
    font-family: fantasy;
}

.lineStyle{
    border: 0; 
    height: 0; 
    box-shadow: 0 1px 5px 1px purple;
    margin: 15px;
}

.productName{
    color: black;
}

.containerProduct{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
}

.containerProductRight{
    font-size: x-large;
    font-family: ui-serif;
}

.containerProductLeft{
    display: flex;
    font-family: fantasy;
}

.subtotalVisibility{
    color: black;
}

.hrDivProduct{
    border: 3px solid #666; 
    border-radius: 300px/10px; 
    height: 0px; 
    text-align: center;
}

.DeleteForeverIcon{
    color: rgb(85, 81, 81);
    cursor: pointer;
}

.container_input_button{
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
} 
.container_input_button input {
    width: 25%;
    margin-left: 1%;
    margin-right: 1%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #DFE6E9;
    background-color: #ab47bc;
    cursor: pointer;
}
.cartEmpty{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}
.cartEmpty img{
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_input_button input:hover{
    background-color: #7b1fa2;
}
@media(max-width: 768px){
    .container_absolute_main{
        padding: 0px 0;
    }
    .container_table{
        width: 100%;
    }
}
@media(max-width: 540px){
    .container_input_button input{
        width: 40%;
    }
}
@keyframes containerMount{
    0%   { opacity: 0; transform: scale(.5);}
    50%  { opacity: 0;}
    100% { opacity: 1; transform: scale(1);}
}
@keyframes containerUnmount{
    0%   { opacity: 1; transform: scale(1);}
    50%  { opacity: 0;}
    100% { opacity: 0; transform: scale(.5);}
}