.formPassword{
    max-width: 300vh;
    max-height: 70vh;
    border: 1px white;
}
.formPassword input{
    margin-top:10px;
    font-size: 40;
    margin-bottom: 10px;
}
.formPassword button{
    margin-top:20px;
    margin-left: 10px;
    margin-right: 20px;
}


.on{
    color: red;
}