.formPassword{
    width: 100%;
    padding: 10px 10px;
    width: 100%;
    padding: 20px 10px;
    border-radius: 10px;
}
.formPassword button{
    margin-top:20px;
    margin-left: 10px;
    margin-right: 20px; 

}

.on{
    color: red;
}

.formPassword input{
    max-width: 500px;
    margin: 0 auto;   
    position: relative; 
    background-color: transparent;
    z-index: 0;
}

.formPassword input{
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 30px;
    border-radius: 0px;
    outline: none;
    resize: none;
    border-bottom: 1px solid #282C34;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    font-size: 14px;
    color: #282C34;
}
.formPassword input:focus::placeholder{
    color: transparent;
}

.formPassword label{
    position: absolute;
    z-index: -1;
    top: -2px;
    left: 10px;
    color: transparent;
    transition: all .5s linear;
    font-size: 13px;
    pointer-events: none;
}
.formPassword input:valid ~ label {
    top: -23px;
    color: #ab47bc;
}

.formPassword input:valid ~ label {
    border-bottom: 1px solid #ab47bc
}