.justifyDiv{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.boxStyle{
    margin-top: 120px;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 15px;
    max-width: 400px;
    width: 100%;
    background-color: transparent;
}

.input{
    display: none;
}
.container_Avatar{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarSize{
    margin: 25px;
    min-width: 250px;
    min-height: 250px;
}

.text{
    min-width: 250px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    margin: 25px;
    color: #DFE6E9;
    font-size: xx-large
}

.justifyAv{
    
    display: flex;
    justify-content: center;
    width: 100%;    
}
.container_avatar_buttons{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.button{    
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}
.container_label_camera{
    position: absolute;
    bottom: 42px;
    right: 20px;
}

.cameraButton{
    position: absolute;
    bottom: 25px;
    right: 0px;
}

.boton {
    margin: 25px;
    display: flex;
    justify-content: center;
}
