.justifyDiv{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.boxStyle{
    border: 2px solid white;
    border-radius: 5%;
    min-width: 80vh;
    background-color: #34b2b0;
    -webkit-box-shadow: 0px -8px 61px 0px rgba(217,89,217,1);
    -moz-box-shadow: 0px -8px 61px 0px rgba(217,89,217,1);
    box-shadow: 0px -8px 61px 0px rgba(217,89,217,1);
}

.input{
    display: none;
}

.justifyAv{
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 100%;
}

.avatarSize{
    margin: 25px;
    min-width: 250px;
    min-height: 250px;
}

.text{
    min-width: 250px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    margin: 15px;
    color: #020620;
}

.button{
    min-width: 250px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.cameraButton{
    position: absolute;
    bottom: 20px;
    right: 150px;
}