.justifyDiv{
    display: flex;
    justify-content: center;
}

.justify{
    border-radius: 25%;
    margin: 50px;    
    min-width: 75vh;
    background-color: rgb(158, 77, 233);
}

.input{
    display: none;
}

.justifyAv{
    display: flex;
    justify-content: center;
}

.avatarSize{
    margin: 25px;
    min-width: 250px;
    min-height: 250px;
}

.text{
    min-width: 250px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    margin: 25px;
    color: rgb(44, 39, 54);
}

.button{
    min-width: 250px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    margin: 25px;
}