.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 10px 0;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.container select{
    display: flex;
    flex: 1;
    background-color: transparent;
    border: 1px solid #DFE6E9;
    height: 30px;
    color: #DFE6E9;
    outline: none;
    margin: 0 10px;
    cursor: pointer;
}
.container select option{
    background-color: #24303c;
    border: none;
    outline: none;
}
.container form{
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}
.search{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    border-radius: 15px;
    padding: 2px 5px;
    flex: 3;
    margin: 0 10px;
}
.search input{
    width: 100%;
    padding: 5px 10px;
}
.search button{
    cursor: pointer;
}
.search *{
    background-color: transparent;
    border: none;
}
.container_button{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
    flex: 1.5;
    margin: 0 10px;
}
.container_button button{
   
    outline: none;
    border: none;
    width: 100%;
    min-width: max-content;
    cursor: pointer;
    height: 30px;
    border-radius: 10px;
    background-color: #ab47bc;
    color: #DFE6E9;
}
