.container_img_button{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}
.container_img_button img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.container_img_button button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 90px;
    height: 30px;
    background-color: #ab47bc;
    color: #DFE6E9;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 7px;
}  
@media (max-width: 900px){
    .container_img_button button{
        width: 70px;
        height: 25px;
    }
}