.container_img_button{
    display: flex;
    position: relative;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.container_products_data{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 500px;
    z-index: 1;
    
    padding: 10px;
    top: 0;
    color: #ffffff;
}
.container_products_data h1{
    align-self: center;
}
.container_img_button img{
    max-width: 1200px;
    width: 100%;
    height: 500px;
    object-fit: fill;
    filter: brightness(90%);
}
/* .container_img_button button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 90px;
    height: 30px;
    background-color: #ab47bc;
    color: #DFE6E9;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 7px;
}   */
@media (max-width: 900px){
    .container_img_button button{
        width: 70px;
        height: 25px;
    }
}