.container{
    position: relative;
    max-width: 1200px;
    width: 80%;
    height: 500px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--green-primary);
    -webkit-box-reflect: below 0 linear-gradient(transparent 95%, white);
    margin-bottom: 30px;
}
.container h1,h2{
    align-self: center;
}
.container button{
    position: absolute;
    bottom: 20%;
    right: 5%;
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #ab47bc;
    border: none;
    outline: none;
    color: #DFE6E9;
}
.container button:hover{
    background-color: #9a3eaa;
}
@media (max-width: 900px){
    .container button{
        width: 70px;
        height: 25px;
    }
}