.SideBar{
    height: 100%;
    width: 80%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    position: absolute;
    max-width: 300px;
}
.icon{
    background-color: gray;
    height: 40px;
    width: 40px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu{
    background-color: gray;
    height: 100%;
    width: 100%;
    color:white;
}
.button{
    font-size: 25px;
    height: 30px;
    width: 30px;
    position: relative;
    left: 88%;
    top: 5px; 
    background-color: gray;
    color: white;
    outline: none;
    border: none;
}
.line{
    margin-top: 10px;
    margin-bottom: 10px;
}