.container_searchBar{
    display: flex;
    justify-content: center;
    min-width: 250px;
    max-width: 650px;
    margin: 10px auto;
}
.container_input_buttons{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #DFE6E9;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0px 10px;
    
}
.container_input_buttons input{
    width: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: medium;
}
.container_input_buttons button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

