th{
    line-height: 25px;
    padding: 10px 4px;
}
.container_edit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_delete{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.description{
    width: 55%;
}
@media (max-width: 500px){
    .description{
        display: none;
    }
}
.button_edit{
    background-color: #1f53c5;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size:12px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.button_edit:hover{
   
    background-color: #1f53e7;
}
.button_delete{
    background-color: #e7231f;
    border: none;
    padding: 12px;
    color: #fff;
    margin: 16px 0;
    font-size:12px;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}
.button_delete:hover{
    background-color: #f7231f;
}