.container,.centered{
    min-width: 80vw;
    max-width: 80vw;
    height: 70vh;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin: 0 -10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    transition: .2s;
    scroll-snap-align: center;
    transform-style: preserve-3d;
    transform-origin: center;
    transform: perspective(800px) translateZ(-200px);
}
.container{
    filter: grayscale(70%);
}
.centered{
    transform: perspective(800px);
}
.name{
    font-size: 30px;
    margin: 10px;
}
.ranking{
    font-size: 20px;
    margin: 10px;
}
