
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagesContainer{
    height: 100px;
    width: 95%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #ab47bc;
    border-radius: 5px;
}
.imagesContainer img{
    height: 80px;
    margin: 5px;
}